{% extends "layout.html" %}

{% block content %}
  <div id="faq">
    <div class="question">
      <h4>How does it work?</h4>
      <p>
        First, create and preview your job listing and make sure it will look great on the site. Once you're happy, submit it for review. We will then send you an email explaining how you can access your listing if you want to change it. Once it is reviewed and accepted, it will be published immediately and you will get a confirmation email.
      </p>
    </div>
    <div class="question">
      <h4>How much does it cost?</h4>
      <p>
        All listings are free for now and can be displayed indefinitely.
      </p>
    </div>
    <div class="question">
      <h4>Why do you need to review the listings?</h4>
      <p>
        The quality of the site is determined by the quality of the job listings. Awesome job listings will attract equally awesome candidates so it's a win for all. So while the site is still free, we feel that reviewing is the only way to ensure quality.
      </p>
    </div>
    <div class="question">
      <h4>The position I posted has been filled. How do I remove it?</h4>
      <p>
        You can send us an email at <a href="mailto:hackcyprus+jobs@projectcel.com">hackcyprus+jobs@projectcel.com</a> and we will remove it for you.
      </p>
    </div>
    <div class="question">
      <h4>I have more questions, where can I contact you?</h4>
      <p>You guessed it, email us at <a href="mailto:hackcyprus+jobs@projectcel.com">hackcyprus+jobs@projectcel.com</a>.</p>
    </div>
  </div>
{% endblock %}

{% block pagejs %}
  <script src="/static/js/vendor/jquery/jquery.placeholder.min.js"></script>
  <script src="/static/js/search.js"></script>
{% endblock %}
