{% extends "layout.html" %}

{% from 'macros.html' import tags %}

{% set jobs_count = jobs|count %}

{% block content %}
  <div id="search-results">
    <h2>
    {% if jobs_count == 0 %}
      No
    {% else %}
      {{ jobs_count }}
    {% endif %}

    job

    {% if jobs_count == 1 %}
      listing
    {% else %}
      listings
    {% endif %}

    {% if query %}
      matching '{{ query }}'
    {% else %}
      in total
    {% endif %}
    </h2>
    <table>
      {% for job in jobs %}
        <tr class="job">
          <td class="left">
            <h4>
              <a href="{{ job.url() }}">{{ job.title }}</a>
            </h4>
            <p class="details">
              {{ job.company.name }} &mdash;
              {{ job.location.city }}, {{ job.location.country_name }}
            </p>
            {{ tags(job) }}
          </td>
          <td class="right">
              <h4 class="job-type">{{ job.human_job_type }}</h4>
              <p class="added">{{ job.created.humanize() }}</p>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}