{% extends "layout.html" %}

{% from 'macros.html' import tags %}

{% set jobs_count = jobs|count %}

{% block content %}
  <div id="search-results">
    <h1>
    {% if jobs_count == 1 %}
      We found 1 position for you
    {% else %}
      We found {{ jobs_count }} positions for you
    {% endif %}
    {% if query %}
      <a href="/" class="see-all"><span>&#11013;&nbsp;</span> See all jobs</a>
    {% endif %}
    </h1>
    <table>
      {% for job in jobs %}
        <tr class="job">
          <td class="left">
            <h4>
              <a href="/jobs/{{ job.url }}">{{ job.title }}</a>
            </h4>
            <p class="details">
              {{ job.company.name }} &mdash;
              {{ job.location.city }}, {{ job.location.country_name }}
            </p>
            {{ tags(job) }}
          </td>
          <td class="right">
              <h4 class="job-type">{{ job.human_job_type }}</h4>
              <p class="added">{{ job.created.humanize() }}</p>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}