{% extends "layout.html" %}

{% block content %}
    <div id="search-results">
        <h2>We have 50 jobs for you</h2>
        <table>
            <tr class="job">
                <td class="left">
                    <h4><a href="#">Technical Account Manager</a></h4>
                    <p class="details">Cypriot Enterprise Link &mdash; Limassol, Cyprus</p>
                </td>
                <td class="right">
                    <h4 class="job-type">Full Time</h4>
                    <p class="added">50 minutes ago</p>
                </td>
            </tr>
            <tr class="job">
                <td class="left">
                    <h4><a href="#">Technical Account Manager</a></h4>
                    <p class="details">Cypriot Enterprise Link &mdash; Limassol, Cyprus</p>
                </td>
                <td class="right">
                    <h4 class="job-type">Full Time</h4>
                    <p class="added">50 minutes ago</p>
                </td>
            </tr>
            <tr class="job">
                <td class="left">
                    <h4><a href="#">Technical Account Manager</a></h4>
                    <p class="details">Cypriot Enterprise Link &mdash; Limassol, Cyprus</p>
                </td>
                <td class="right">
                    <h4 class="job-type">Full Time</h4>
                    <p class="added">50 minutes ago</p>
                </td>
            </tr>
            <tr class="job">
                <td class="left">
                    <h4><a href="#">Technical Account Manager</a></h4>
                    <p class="details">Cypriot Enterprise Link &mdash; Limassol, Cyprus</p>
                </td>
                <td class="right">
                    <h4 class="job-type">Full Time</h4>
                    <p class="added">50 minutes ago</p>
                </td>
            </tr>

        </table>
    </div>
{% endblock %}