{% extends "layout.html" %}

{% block content %}
  <div id="job" class="clearfix">
    <h1>{{ job.title }}</h1>
    <div class="description">
      <p>The Product team in Accedo Stockholm is growing again. This time we’re looking for both junior and senior candidates ready to let go and jump on the Smart TV-ride. People that will build applications for next generations TV services and be game changers.</p>
      <p>Apps first changed the mobile industry, now it is happening in the TV industry and we are in the middle of it. The working environment in Accedo is international and challenging – giving you the possibility to evolve your skill set while working with new tools and technologies together with exciting customers and partners like HBO, Fox, Viaplay, Spotify, Orange and DTAG. With dev centers in Stockholm, New York and Hong Kong interaction and exchange programs is common and encouraged.</p>
    </div>
    <div class="company">
      <h4>Company Profile</h4>
      <img src="/static/test.png" width=250 />
    </div>
  </div>
{% endblock %}