<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>Hack Cyprus Jobs</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Hack Cyprus">
    <meta name="keywords" content="tech, technology, jobs, software, engineer, programming, cyprus, design">
    <meta name="description" content="Tech jobs in Cyprus.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/main.css">

    <script type="text/javascript" src="//use.typekit.net/opv5vuc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
        to improve your experience.
      </p>
    <![endif]-->
    <div class="wrapper">
      <header>
        <div class="container">
          <a href="/" class="logo">
            hack{<b>cyprus</b>} <span>jobs</span>
          </a>
          <nav>
            <ul class="clearfix">
              <li><a href="/new">Post a job</a></li>
              <li><a href="/how">How it works</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="scream">
        <div class="container">
          <h1>{{ prompt }}</h1>
          <div>
            <span>&#128269;</span>
            <input id="search" type="text" {% if query %}value="{{ query }}"{% endif %} placeholder="search for e.g '{{ position }}'"></input>
          </div>
        </div>
      </div>
      <div id="main" class="container">
        {% block content %}
        {% endblock %}
      </div>
      <div class="push"></div>
    </div>
    <footer>
      <div class="container clearfix">
        <a href="http://hackcyprus.com" class="logo">
          hack{<b>cyprus</b>}
        </a>
        <div class="copy">
          Copyright &copy; 2013, Cypriot Enterprise Link
        </div>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
      (function($, window) {
        var $search = $('#search');
        $search.keydown(function(e) {
          if (e.which != 13) return;
          window.location = '/search/' + $search.val();
        });
      }(jQuery, window));
    </script>
    {% block pagejs %}
    {% endblock %}
  </body>
</html>