{% extends "layout.html" %}

{% set hide_search = True %}

{% block content %}
  <div id="create-job" class="clearfix">
    <div class="position-details">
      <form method="post" action="/new">
        {{ form.hidden_tag() }}
        <fieldset class="fieldset-hr">
          <div class="field">
            <input type="text" id="title" name="title" placeholder="What's the job title?">
          </div>
          <div class="field">
            {{ form.job_type() }} Can people work remotely? {{ form.remote_work() }}
          </div>
        </fieldset>
        <fieldset>
          <legend>Where is the job based?</legend>
          <div class="field">
            <input class="small" type="text" id="city" name="city" placeholder="City">
            {{ form.country_code() }}
          </div>
        </fieldset>
        <fieldset>
          <legend>Describe how great the job is</legend>
          <p class="help-text">
            Don't forget that the effort you put into the job spec will have a direct effect on the amount and quality of candidates you will receive.
          </p>
          <div class="field">
            <textarea rows="14" id="description" name="description" placeholder="Write a clear and concise description of the job."></textarea>
          </div>
        </fieldset>
        <fieldset>
          <legend>Some details on your company</legend>
          <div class="field">
            <input type="text" id="company_name" name="company_name" placeholder="What's the name of your company?"/>
          </div>
          <div class="field">
            <input type="text" id="company_website" name="company_website" placeholder="What's the website of your company?"/>
          </div>
        </fieldset>
        <fieldset>
          <legend>How should your candidates apply?</legend>
          <p class="help-text">
            This is what candidates
          </p>
          <div class="field clearfix">
            {{ form.contact_method() }}
            <input type="text" id="contact_email" name="contact_email" placeholder="Email for applications" style="display:none"/>
            <input type="text" id="contact_url" name="contact_url" placeholder="Application page URL"/>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="info">

    </div>
  </div>
{% endblock %}

{% block pagejs %}
  <script src="/static/js/select2.min.js"></script>
  <script>
    (function($, window) {
      $(function() {
        $('#job_type').select2();
        $('#country_code').select2();
      });
    }(jQuery, window));

  </script>
{% endblock %}