Hey {{ job.recruiter_name }},

Great! Your job listing has been reviewed and is now published.

See it in action:
{{ job.qualified_url }}

Remember, you can edit your listing at any time using the link we've included
in the email you received when you submitted the listing.

Regards,
The Hack Cyprus Team