Hey {{ job.recruiter_name }},

Great! Your job listing has been reviewed and is now published.

See it in action:
{{ job.url(external=True) }}

Remember, you can edit your listing at any time using this link:
{{ job.edit_url(external=True) }}

Regards,
The Hack Cyprus Team