Hey {{ job.recruiter_name }},

Great! Your job post is now scheduled for a review, which should take less than a day.

You can edit your post any time by visiting this link:
{{ job.edit_url }}

Regards,
The Hack Cyprus Team

P.S: If you think we're taking too long to review your post, please send us an email at
techjobs@projectcel.com.