Hey {{ job.recruiter_name }},

Your job listing is now scheduled for a review, which should take less than a day.

As a brief reminder, here's some information about your listing:

Title: {{ job.title }}
Company: {{ job.company.name }}
Job Type: {{ job.human_job_type }}

You can edit your listing at any time by using this link:
{{ job.edit_url(external=True) }}

Regards,
The Hack Cyprus Team

P.S: If you think we're taking too long to review your listing, please send us an email at
{{ default_sender }}.