/* Sticky footer */
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -57px;
}

footer, .push {
    height: 55px;
    clear: both;
}

.container {
    width: 550px;
    margin: 0 auto;
}

a.logo {
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    font-family: @logo-font;
    font-weight: 500;
    color: @logo-primary;
    text-shadow: 0px 1px 0px darken(@header, 10%);

    b {
        color: @logo-secondary;
        font-weight: 700;
    }

    span {
        font-weight: 300;
    }

    &:hover {
        border: none;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: @offwhite;
    color: darken(@offwhite, 50%);

    &:hover {
        background-color: darken(@offwhite, 5%);
    }

    &.btn-green {
        background-color: @green;
        color: white;
        &:hover {
            background-color: darken(@green, 5%);
        }
    }

    &.btn-blue {
        background-color: @blue;
        color: white;
        &:hover {
            background-color: darken(@blue, 5%);
        }
    }

    &.btn-red {
        background-color: @pink;
        color: darken(@red, 12%);
        &:hover {
            background-color: darken(@pink, 5%);
        }
    }

}

header {
    height: 55px;
    line-height: 55px;
    background-color: @header;

    .logo {
        float: left;
    }

    nav ul {
        margin: 0;
        padding: 0;
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 21px;
            font-weight: 300;
            font-size: 0.875em;
            font-weight: 700;
            a {
                color: @offwhite;
                text-shadow: 0px 1px 0px darken(@header, 10%);
            }
        }
    }
}

#main {
    margin-bottom: 33px;
}

#scream {
    background-color: @logo-secondary;
    color: darken(@logo-secondary, 10%);
    font-weight: 700;
    margin-bottom: 25px;

    div.container {
        padding: 33px 0 35px 0;
    }

    h1 {
        font-size: 2.25em;
        padding-bottom: 5px;
        display: block;
        margin: 0 0 17px 0;
        padding: 0;
    }

    span {
        font-family: @glyph;
        font-size: 62px;
        font-weight: 900;
    }

    input {
        background: none;
        border: none;
        border-bottom: 2px dashed darken(@logo-secondary, 10%);
        width: 505px;
        margin-left: 3px;
        font-size: 1.5em;
        font-family: @base-font;
        position: relative;
        top: -11px;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: darken(@logo-secondary, 10%);
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: darken(@logo-secondary, 10%);
        }

        &::-moz-placeholder {  /* Firefox 19+ */
            color: darken(@logo-secondary, 10%);
        }

        &:-ms-input-placeholder {
            color: darken(@logo-secondary, 10%);
        }
    }
}

footer {
    background-color: lighten(@rule, 8%);
    border-top: 2px solid @rule;
    height: 55px;
    line-height: 55px;
    color: darken(@rule, 15%);

    .logo {
        font-size: 1em;
        color: darken(@rule, 15%);
        text-shadow: none;
        float: left;
        b {
            color: darken(@rule, 15%);
        }
    }

    .copy {
        float: right;
        font-size: 0.75em;
    }
}
