/*
 * Tags
 * ----
 * (ported to multi selectize as well)
 */
div.tags, .selectize-control.multi .selectize-input {
    .clearfix;
    font-size: 16px;

    a.tag, div[data-value].item {
        font-size: 0.75em;
        padding: 3px 6px;
        background: @light-rule;
        color: @light-gray;
        font-weight: 700;
        display: block;
        float: left;
        margin: 0px 4px 4px 0px;
        border: none;
        background-image: none;
        background-repeat: no-repeat;
        text-shadow: none;
        .box-shadow(none);
        .border-radius(3px);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;


        &:hover {
            background: darken(@light-rule, 8%);
            border: none;
            color: darken(@light-gray, 10%);
        }

        &.active {
            background: darken(@light-rule, 15%);
            border: none;
            color: darken(@light-gray, 18%);
        }
    }
}

/*
 * Form Validation
 * ---------------
 */
.parsley-error-container {
    border: 2px solid @red;
    padding: 7px;
    margin-top: 33px;

    &.inline {
        border: 0;
        padding: 0;
        margin-top: 0;
        position: absolute;

        .parsley-error-list {
            font-size: 0.75em;
        }
    }

    .parsley-error-list {
        font-weight: 700;
        font-size: 0.875em;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            margin-top: 2px;
            color: @red;
        }
    }
}