#job {

    h1 {
        margin: 0;
        padding: 0 0 33px 0;
        border-bottom: 1px solid @rule;
    }

    p {
        font-size: 0.875em;
    }

    div.job-description {
        float: left;
        width: 550px;
    }

    div.infobox {
        float: left;
        width: 230px;
        margin-left: 70px;
        text-align: right;

        div.company-logo {
            padding-bottom: 12px;
            margin-bottom: 12px;
            border-bottom: 5px solid @rule;
            position: relative;
        }

        div.company-details {
            margin-bottom: 22px;
            p.company-name {
                font-weight: 800;
                font-size: 1em;
            }
            p.company-about,  p.company-url {
                font-size: 0.8125em;
            }
        }

        div.apply-btn {
            a.btn {
                background-color: #5cb85c;
                padding: 12px 30px;
                color: white;
                font-weight: 700;
                span {
                    display: block;
                    font-size: 0.75em;
                    font-weight: normal;
                    position: relative;
                    margin-top: 2px;
                }
                &:hover {
                    background-color: darken(@green, 5%);
                }
            }
        }
    }

    h4 {
        color: @gray;
        font-weight: 500;
    }

}