#search-results {

    h1 {
        padding: 0;
        margin: 0 0 33px 0;
    }

    table {
        width: 100%;
        border-top: 1px solid @rule;

    }

    tr.job {

        p {
            margin: 0;
            padding: 0;
            color: @gray;
            font-size: 0.875em;
        }

        td {
            padding: 23px 0px 23px 0;
            vertical-align: top;
            border-bottom: 1px solid @rule;

            &.left {
                width: 80%;

                div.tags {
                    margin-top: 10px;
                }

                a.tag {
                    font-size: 0.75em;
                    padding: 3px 6px;
                    .border-radius(3px);
                    background-color: @rule;
                    color: darken(@rule, 45%);
                    font-weight: 700;

                    &:hover {
                        background-color: darken(@rule, 15%);
                        border: none;
                        color: darken(@rule, 60%);
                    }
                }
            }

            &.right {
                width: 20%;
                text-align: right;
            }

            h4 {
                padding:0;
                margin: 0 0 7px 0;
                font-size: 1.25em;

                &.job-type {
                    font-size: 1em;
                }

                a {
                    color: @header;
                }
            }

            span {
                margin: 0;
                padding: 0;
                color: @gray;

            }
        }


    }
}