a.see-all {
    color: @gray;
    font-weight: 500;
    font-size: 0.875em;
    position: relative;

    span {
        position: relative;
        top: 1px;
        font-weight: 700;
    }
}

div.added {
    color: @gray;
    font-size: 0.75em;
    margin-top: 15px;
}

#job {

    div.header {
        border-bottom: 1px solid @rule;
        margin-bottom: 33px;

        h2 {
            margin: 0;
            margin-top: 15px;
            padding: 0 0 15px 0;
        }

        div.tags {
            padding-bottom: 18px;
        }
    }

    div.body {
        .infobox {
            width: 190px;
            padding: 20px;
            float: right;
            background-color: @light-rule;
            margin: 0 0 10px 10px;

            a.apply-btn {
                font-size: 0.875em;
                font-weight: 700;
                padding: 0;
                width: 100%;
                height: 33px;
                line-height: 33px;
            }

            .row {
                margin-top: 12px;
                font-size: 0.875em;
                color: @gray;

                a {
                    color: @gray;
                }

                img {
                    margin-right: 5px;
                    position: relative;
                    top: 3px;
                }

                span {
                    font-size: 0.75em;
                    font-style: italic;
                }
            }
        }

        .description {
            font-size: 0.875em;
            line-height: 1.7;
        }
    }
}