#create-job {

    form {
        width: 528px;
        position: relative;
        margin: 0 auto;

        fieldset {
            border: none;
            padding: 1.7em 0 2em 0;
            border-bottom: 1px dashed @rule;
            &.no-border {
                border-bottom: none;
            }
        }

        h4 {
            font-weight: 700;
            position: relative;
            margin: 0;
        }

        .field {
            font-family: @base-font;
            position: relative;
            margin-top: 1.5em;

            input[type="text"], textarea,
            .selectize-control.multi .selectize-input {
                border: 2px solid @rule;
                padding: 8px;
                width: 508px;
                font-size: 14px;
                &:focus {
                    outline: none;
                    border: 2px solid @light-blue;
                }
                &.small {
                    width: 200px;
                }
            }

            .selectize-control.multi .selectize-input {
                .item {
                    margin-bottom: 0;
                }
            }

            input[type="checkbox"] {
                width: 50px;
            }

            &.inline {
                display: inline-block;
                vertical-align: middle;
                input, textarea, .selectize-control {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .selectize-control {
                width: 135px;
                position: relative;
                top: 2px;

                &.large {
                    width: 175px;
                }

                &.xlarge {
                    width: 528px;
                }
            }

        }

        p.help-text {
            color: @gray;
            font-size: 0.875em;
            margin-top: 1.5em;
            margin-bottom: 0;
        }

        #remote-work-field {
            margin-left: 75px;
            span {
                font-size: 14px;
                margin-right: 10px;
            }
            .selectize-control {
                width: 110px;
            }
        }

        #description-field {
            textarea {
                border-top: none;
            }
        }

        #description-toolbar {
            padding: 8px 4px;
            font-size: 0.75em;
            background-color: lighten(@rule, 5%);
            border: 2px solid @rule;
        }

        #contact-method-field {
            .selectize-control {
                width: 80px;
            }
        }

        #contact_url, #contact_email {
            width: 350px;
        }

        #submit-btn, #preview-btn {
            font-size: 14px;
            padding: 10px 20px;
            font-weight: 700;
        }



    }

    // div.job-description {
    //     float: left;
    //     width: 550px;

    // }

    // div.infobox {
    //     float: left;
    //     width: 230px;
    //     text-align: right;
    // }

}