#job {

    h1 {
        margin: 0 0 9px 0;
        padding: 0 0 33px 0;
        border-bottom: 1px solid @rule;
    }

    p {
        font-size: 0.875em;
    }

    div.description {
        float: left;
        width: 550px;
    }

    div.company {
        float: left;
        width: 270px;
        margin: 13px 0 0 30px;
        text-align: right;

        h4 {
            text-transform: uppercase;
            font-weight: 400;
            margin: 0;
            padding: 0;
        }
    }

}