#search-results {

    h1 {
        padding: 0;
        margin: 0 0 33px 0;
    }

    table {
        width: 100%;
        border-top: 1px solid @rule;

    }

    tr.job {

        p {
            margin: 0;
            padding: 0;
            color: #666;
            font-size: 0.875em;
        }

        td {
            padding: 17px 0px 17px 0;
            vertical-align: top;
            border-bottom: 1px solid @rule;

            &.left {
                width: 80%;
            }

            &.right {
                width: 20%;
                text-align: right;
            }

            h4 {
                padding:0;
                margin: 0 0 7px 0;
                font-size: 1.25em;

                &.job-type {
                    font-size: 1em;
                }

                a {
                    color: @header;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            span {
                margin: 0;
                padding: 0;
                color: #777;

            }
        }


    }
}