.sheet {
    background-color: white;
    position: fixed;
    width: 500px;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 99999;
    -webkit-transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 200ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);

    &.left {
        left: 0;
        border-right: 2px solid @rule;

        &.hide {
            -webkit-transform: translate3d(-110%,0,0);
            transform: translate3d(-100%,0,0);
        }
    }

    &.right {
        right: 0;
        border-left: 2px solid @rule;

        &.hide {
            -webkit-transform: translate3d(110%,0,0);
            transform: translate3d(100%,0,0);
        }
    }

    .content {
        position: absolute;
        top: 46px;
        bottom: 0;
        width: 550px;
        left: 0;
        right: 0;
        padding: 0px 15px 0px 15px;
        overflow: scroll;
    }

}