body {
    font-family: @base-font;
    color: @header;
}

h1, h2, h3 {
    font-family: @base-font;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    padding-bottom: 1px;
    &:hover {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}