// colors
@header: #2A2E33;
@background: #eee;
@logo-primary: #fff;
@logo-secondary: #fcb614;
@logo-hover: #44dae3;
@offwhite: #cfd5dd;
@rule: lighten(@header, 70%);

// fonts
@base-font: "open-sans", "helvetica neue", "helvetica", sans-serif;
@logo-font: "adelle", serif;
@glyph: entypo;
