Heyo,

There's been a newly created/updated job post that needs your attention! The post
was created {{ job.created.humanize() }} so it's probably {{ new_or_update }}.

To review:

$ cd {{ script_path }}; python review.py {{ job.id }}

Alternatively, you can view this post in your browser by going to:
{{ job.edit_url }}

Happy reviewing,
The Robot