Heyo,

There's been a newly created/updated job listing that needs your attention! The listing
was created {{ job.created.humanize() }} so it's probably {{ new_or_update }}.

To review:

$ cd {{ script_path }}; python review.py {{ job.id }}

Alternatively, you can view this listing in your browser by going to:
{{ job.edit_url }}

Happy reviewing,
The Robot