global
    log         127.0.0.1 local0

    #chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        root
    group       root
    daemon

    # turn on stats unix socket
    # stats socket /var/lib/haproxy/stats level admin

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend world
    bind 0.0.0.0:80
    acl is_omega hdr(host) -i omega.jobs.hackcyprus.com
    redirect prefix http://jobs.hackcyprus.com if is_omega
    default_backend web

backend web
    balance roundrobin
    server one localhost:8000
    server two localhost:8001
