{% extends "layout.html" %}

{% set hide_scream = True %}

{% block content %}
  <div id="create-job" class="container clearfix">
    {% if token %}
    <div class='notice'>
      <h4>
        <img src="/static/imgs/caution.png" />
        You are editing this listing. Any submitted changes will need a review.
      </h4>
    </div>
    <h2>Edit job listing</h2>
    <form method="post" name='jobform' action="/edit/{{ form.id._value() }}/{{ token }}" novalidate parsley-validate>
    {% else %}
    <h2>Post a job listing</h2>
    <form method="post" name='jobform' action="/create" novalidate parsley-validate>
    {% endif %}
      {{ form.hidden_tag() }}
      <fieldset style="padding-top: 0.75em">
        <div class="field">
          {{ form.title(placeholder="What's the job title?", **{"parsley-required": "required"}) }}
        </div>
        <div class="field inline">
          {{ form.job_type() }}
        </div>
        <div class="field inline" id="remote-work-field">
          <span>Can people work remotely?</span> {{ form.remote_work(**{"parsley-required": "required"}) }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Where is the job based?</h4>
        <div class="field inline" id="location-city-field">
          {{ form.location__city(placeholder="Select or type a city..", class_="large", **{"parsley-required": "required"}) }}
        </div>
        <div class="field inline">
          {{ form.location__country_code(class_="large", **{"parsley-required": "required"}) }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Describe how great the job is</h4>
        <p class="help-text">
          Don't forget that the effort you put into the job spec will have a direct effect on the
          amount and quality of candidates you will receive.
        </p>
        <div class="field" id="description-field">
          <!-- Toolbar for the description textarea -->
          <div id="description-toolbar" class="clearfix" style="display: none;">
            <a class="bold" data-wysihtml5-command="bold">
              <img src="/static/imgs/wysiwyg/b.png" />
            </a>
            <a class="i" data-wysihtml5-command="italic">
              <img src="/static/imgs/wysiwyg/i.png" />
            </a>
            <a class="u" data-wysihtml5-command="underline">
              <img src="/static/imgs/wysiwyg/u.png" />
            </a>
            <a class="ol" data-wysihtml5-command="insertOrderedList">
              <img src="/static/imgs/wysiwyg/ol.png" />
            </a>
            <a class="ul" data-wysihtml5-command="insertUnorderedList">
              <img src="/static/imgs/wysiwyg/ul.png" />
            </a>
            <a class="undo" data-wysihtml5-command="undo">
              <img src="/static/imgs/wysiwyg/undo.png" />
            </a>
            <a class="redo" data-wysihtml5-command="redo">
              <img src="/static/imgs/wysiwyg/redo.png" />
            </a>
          </div>
          {{ form.description(
            rows=14,
            placeholder="Write a clear and concise description of the job",
            class_="wysiwyged",
            **{"parsley-required": "required"}) }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Add relevant keywords <span>(optional)</span></h4>
        <p class="help-text">
          Adding some keywords relevant to the job will make the job easier to find and provide a quick summary to
          potential candidates.
        </p>
        <div class="field" id="tags-field">
          {{ form.tags(placeholder="Type some keywords, for example 'python'") }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Some details on your company</h4>
        <div class="field">
          {{ form.company__name(placeholder="What's the name of your company?", **{"parsley-required": "required"}) }}
        </div>
        <div class="field">
          {{ form.company__website(placeholder="What's the website of your company?", **{"parsley-required": "required"}) }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Your contact details</h4>
        <p class="help-text">
          We need your contact details to send you a confirmation email which
          includes your unique link for editing this job post later.
        </p>
        <div class="field">
          {{ form.recruiter_name(placeholder="What's your full name?", **{"parsley-required": "required"}) }}
        </div>
        <div class="field">
          {{ form.recruiter_email(placeholder="What's your email?", **{"parsley-required": "required"}) }}
        </div>
      </fieldset>
      <fieldset>
        <h4>How should your candidates apply?</h4>
        <p class="help-text">
          Select if you want your candidates to apply via a link to a more specific job page or send you an email.
        </p>
        <div class="field inline" id="contact-method-field">
          {{ form.contact_method(**{"parsley-required": "required"}) }}
        </div>
        <div class="field inline">
          {{ form.contact_url(placeholder="Link to job page", **{"parsley-required": "required"}) }}
          {{ form.contact_email(style="display: none", placeholder="Email to contact", **{"parsley-required": "required"}) }}
        </div>
      </fieldset>
      <div class="field inline">
        <a id="preview-btn" href="/preview" class="btn">
          <span id="preview-spinner" class="hidden">
            <span class="dot dot-1"></span>
            <span class="dot dot-2"></span>
            <span class="dot dot-3"></span>
          </span>
          <span id="preview-text">Preview</span>
        </a>
      </div>
      <div class="field inline">
        <input id="submit-btn" type="submit" class="btn btn-green" value="Submit for review"/>
      </div>
    </form>
  </div>
  <div id="preview-sheet" class="sheet right hide">
    <div class="notice clearfix">
      <h4>This is your post as it would appear on the site when published.</h4>
      <button class='hide-btn btn'>Close</button>
    </div>
    <div class="content"></div>
  </div>
{% endblock %}

{% block pagejs %}
  <script src="/static/js/vendor/parsley/parsley.min.js"></script>
  <script src="/static/js/vendor/selectize/selectize.min.js"></script>
  <script src="/static/js/vendor/wysihtml5/rules.js"></script>
  <script src="/static/js/vendor/wysihtml5/wysihtml5-0.3.0.min.js"></script>
  <script>
    var LOCATIONS = {{ locations|tojson|safe }}
      , TAGS = {{ tags|tojson|safe }};
  </script>
  <script src="/static/js/preview.js"></script>
  <script src="/static/js/form.js"></script>
  <script src="/static/js/validation.js"></script>
{% endblock %}