{% extends "layout.html" %}

{% set hide_search = True %}

{% block content %}
  <div id="create-job" class="clearfix">
    {% if token %}
    <form method="post" action="/edit/{{ form.id._value() }}/{{ token }}">
    {% else %}
    <form method="post" action="/create">
    {% endif %}
      Errors: {{ form.errors }}
      {{ form.hidden_tag() }}
      <fieldset>
        <div class="field">
          {{ form.title(placeholder="What's the job title?") }}
        </div>
        <div class="field inline">
          {{ form.job_type() }}
        </div>
        <div class="field inline" id="remote-work-field">
          <span>Can people work remotely?</span> {{ form.remote_work() }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Where is the job based?</h4>
        <div class="field inline" id="location-city-field">
          {{ form.location__city(placeholder="Select or type a city..", class_="large") }}
        </div>
        <div class="field inline">
          {{ form.location__country_code(class_="large") }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Describe how great the job is</h4>
        <p class="help-text">
          Don't forget that the effort you put into the job spec will have a direct effect on the
          amount and quality of candidates you will receive.
        </p>
        <div class="field">
          {{ form.description(rows=14, placeholder="Write a clear and concise description of the job.") }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Add relevant tags</h4>
        <p class="help-text">
          Adding some tags relevant to the job will make the job easier to find and provide a quick summary to
          potential candidates.
        </p>
        <div class="field" id="tags-field">
          {{ form.tags(placeholder="Type some tags, for example 'python'") }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Some details on your company</h4>
        <div class="field">
          {{ form.company__name(placeholder="What's the name of your company?") }}
        </div>
        <div class="field">
          {{ form.company__website(placeholder="What's the website of your company?") }}
        </div>
      </fieldset>
      <fieldset>
        <h4>Your contact details</h4>
        <p class="help-text">
          We need your contact details to send you a confirmation email which
          includes your unique link for editing this job post later.
        </p>
        <div class="field">
          {{ form.recruiter_name(placeholder="What's your full name?") }}
        </div>
        <div class="field">
          {{ form.recruiter_email(placeholder="What's your email?") }}
        </div>
      </fieldset>
      <fieldset>
        <h4>How should your candidates apply?</h4>
        <p class="help-text">
          Select if you want your candidates to apply via a link to a more specific job page or send you an email.
        </p>
        <div class="field inline" id="contact-method-field">
          {{ form.contact_method() }}
        </div>
        <div class="field inline">
          {{ form.contact_url(placeholder="Link to job page") }}
          {{ form.contact_email(style="display: none", placeholder="Email to contact") }}
        </div>
      </fieldset>
      <div class="field inline">
        <input id="preview-btn" type="submit" class="btn btn" value="Preview"/>
      </div>
      <div class="field inline">
        <input id="submit-btn" type="submit" class="btn btn-green" value="Submit for approval"/>
      </div>
    </form>
  </div>
{% endblock %}

{% block pagejs %}
  <script src="/static/js/selectize.min.js"></script>
  <script>
    var LOCATIONS = {{ locations|tojson|safe }}
      , TAGS = {{ tags|tojson|safe }};
  </script>
  <script>
    (function($, window) {

      $(function() {
        var $type = $('#job_type')
          , $locationId = $('#location__id')
          , $city = $('#location__city')
          , $country = $('#location__country_code')
          , $remote = $('#remote_work')
          , $contact = $('#contact_method')
          , $contactUrl = $('#contact_url')
          , $contactEmail = $('#contact_email')
          , $tags = $('#tags');

        /*
         * HELPERS
         * -------
         */

        var findLocation = function(cityName) {
          return _.find(LOCATIONS, function(location) {
            return location.city == cityName;
          });
        };

        var updateCities = function(countryCode) {
          var selectize = $city.selectize()[0].selectize
            , existingCity = $city.val();

          selectize.clearOptions();

          _.each(LOCATIONS, function(location) {
            if (location.country_code !== countryCode) return;
            selectize.addOption(location);
          });

          selectize.refreshOptions(false);

          // If $city already has a *correct* value set (i.e we're in edit mode)
          // we restore it.
          var location = findLocation(existingCity);
          if (location != null && location.country_code === countryCode) {
            selectize.setValue(existingCity);
          }
        };

        var onLocationChange = function(cityName) {
          var location = findLocation(cityName);
          $locationId.val(location != null ? location.id : null);
          return location;
        };

        /*
         * SELECTIZE
         * ---------
         */

        $type.selectize();
        $remote.selectize();

        $city.selectize({
          maxItems: 1,
          valueField: 'city',
          labelField: 'city',
          searchField: ['city'],
          openOnFocus: true,
          create: true,
          onChange: function(value) {
            this.$input.attr('value', value);
            onLocationChange(value);
          }
        });

        $country.selectize({
          onInitialize: function(a) {
            updateCities(this.getValue());
          },
          onChange: function(value) {
            updateCities(value);
            onLocationChange();
          }
        });

        $contact.selectize({
          onInitialize: function(a) {
            if (!_.isEmpty($contactEmail.val())) {
              $contactUrl.toggle();
              $contactEmail.toggle();
            }
          },
          onChange: function(value) {
            $contactUrl.toggle();
            $contactEmail.toggle();
          }
        });

        $tags.selectize({
          delimiter: ',',
          valueField: 'slug',
          labelField: 'tag',
          searchField: ['tag', 'slug'],
          create: true,
          options: TAGS
        });

      });
    }(jQuery, window));
  </script>
{% endblock %}