{% extends "layout.html" %}

{% set company_name = job.company.name %}

{% block title %}
  <title>{{ job.title }} | Hack Cyprus Jobs</title>
{% endblock %}

{% block og_tags %}
  <meta property="og:url" content="{{ job.url(external=True) }}">
  <meta property="og:title" content="{{ job.title }} at {{ company_name }}">
  <meta property="og:description" content="{{ job.description_text[:200] }}">
  <meta property="og:site_name" content="Hack Cyprus Jobs">
{% endblock %}

{% block twitter_tags %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@hackcyprusjobs">
  <meta name="twitter:site" content="@hackcyprusjobs">
  <meta name="twitter:title" content="{{ job.title }} at {{ company_name }}">
  <meta name="twitter:description" content="{{ job.description_text[:200] }}">
{% endblock %}

{% block content %}
  <a href="/" class="see-all"><span>&larr;</span> See all jobs</a>
  {% include "jobs/show_chromeless.html" %}
  <div class="added">&mdash; Added {{ job.created.humanize() }}</div>
{% endblock %}

{% block pagejs %}
  <!-- FB -->
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=101469336666147";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Twitter -->
  <script>
    (function(d,s,id) {
      var js
        , fjs = d.getElementsByTagName(s)[0]
        , p = /^http:/.test(d.location) ? 'http' : 'https';

      if(!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document, 'script', 'twitter-wjs'));
  </script>

  <!-- LinkedIn -->
  <script src="//platform.linkedin.com/in.js" type="text/javascript">
    lang: en_US
  </script>

  <script src="/static/js/vendor/jquery/jquery.placeholder.min.js"></script>
  <script src="/static/js/search.js"></script>
{% endblock %}