{% from 'macros.html' import tags %}

{% set company_website = job.company.website %}

<div id="job" class="clearfix {% if chromeless %} chromeless {% endif %}">
  <div class="header">
    <h2>{{ job.title }}</h2>
    {{ tags(job) }}
  </div>
  <div class="body clearfix">
    <div class="infobox">
      {% if job.human_contact_method == 'Link' %}
      <a href="{{ job.contact_url }}" target="_blank" class="apply-btn btn btn-green">
      {% else %}
      <a href="mailto:{{ job.contact_email }}?subject=Applying for '{{ job.title }}' via Hack Cyprus Jobs" class="apply-btn btn btn-green">
      {% endif %}
        Apply for this job
      </a>
      <div class="row">
        <img src="/static/imgs/people.png" />
        {% if company_website %}
          <a href="{{company_website}}" target="_blank" class="job-company-website">
            {{ job.company.name }}
          </a>
        {% else %}
          {{ job.company.name }}
        {% endif %}
      </div>
      <div class="row">
        <img src="/static/imgs/pin.png" /> {{ job.location.city }}, {{ job.location.country_name }}
      </div>
      <div class="row">
        <img src="/static/imgs/clock.png" /> {{ job.human_job_type }}
      </div>
      {% if job.remote_work != 2 %}
      <div class="row">
        <img src="/static/imgs/globe.png" />
          Work remotely
          {% if job.remote_work == 3 %}
            <span>(negotiable)</span>
          {% endif %}
      </div>
      {% endif %}
      <div class="row social">
        <div class="fb-share-button"
             data-href="{{ job.url(external=True) }}"
             data-type="button">
        </div>

        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-url="{{ job.url(external=True) }}"
           data-via="hackcyprusjobs"
           data-count="none">Tweet
        </a>

        <script type="IN/Share" data-url="{{ job.url(external=True) }}"></script>
      </div>
    </div>
    <div class="description">
      {{ job.description|safe }}
    </div>
  </div>
</div>